.font-20{     /* para mudar o tamanho da fonte */
    font-size: 20px;
    text-align: center;
}

.font-bold{ /* sobre a fonte */
font-weight: bold;
}

#color-blue{ /* sobre a cor da fonte */
    color:blue;
}

.container{ /* para organizar a imagem junto com texto  */
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;
}

.imagem{
    margin: 20px;
    border: 5px solid crimson;
    padding: 20px;
}

.menu {
    display: inline;
}

<link rel="stylesheet" href="FundamentosWeb/assets/css/estilo.css">


/*  */